node_modules
dist
.tmp
.sass-cache
.vagrant

craft.zip

public/bower_components

craft/app/*
craft/storage/*

codekit-config.json

backups

.DS_Store

.DS_Store

craft/.DS_Store

craft/templates/.DS_Store

craft/web.config

npm-debug.log

*.codekit
